html{
	font-size:100%;
}

body{
	

    font-family: 'Roboto','Poppins', sans-serif;
	font-family: 
	font-size: 1rem;

}

header{
	width:100%;
	height: 200px;
	background-color: #343642;
	color: white;
}

main{
	width: 100%;
	height: 400px;
}
section{
	background-color: #979C9C;
	color: white;
	padding: 10px 0;
	margin: 0 auto;

}
div{
	width: 80%;
}

p{
	font-size:1.5rem;
	padding: 20px 50px;

}
h1 {
	font-size:2.5rem;
	font-family: 'Poppins';
	font-weight: 700;

}
h2{
	font-size:2rem;
	font-family: 'Poppins';
	font-weight: 700;
}
h3{
	font-size:1.8rem;
	font-family: 'Poppins';
	font-weight: 700;
}
img{
	text-align: center;
	width: 400px;
	height: auto;
}
blockquote{
	color: #962D3E;
	font-family: 'Poppins';
}

.monfooter{
	background-color: #348899;
	width: 100%;
	height: 200px;
	position: fixed;
	bottom: 0;
}